<h1>新規作成</h1>

<%= form_with(model: @group, local: true) do |f| %>
  <div class="group-new-form">
    <div class="group-new-form-name">
      <%= f.label :name, 'グループ名' %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.collection_check_boxes :user_ids, User.all, :id, :nickname %>
    </div>
    <%= f.submit '新規作成', class: "btn btn-primary" %>
  </div>
<% end %>
<%=link_to"チャットグループ一覧に戻る",groups_path%>