<h1>ユーザー詳細</h1>
<p>ニックネーム : <%= @user.nickname %></p>
<p>メールアドレス : <%= @user.email %></p>


<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.posts.each do |t| %>
  <%= t.user.nickname %>
  <%= t.content %>
<% end %>


<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_posts.each do |t| %>
  <%= t.user.nickname %>
  <%= t.content %>
<% end %>


<%= link_to "投稿一覧に戻る", posts_path %>